
//Colors

//Primary
$Dark-Blue: hsl(233, 26%, 24%);
$Lime-Green: hsl(136, 65%, 51%);
$right-Cyan: hsl(192, 70%, 51%);

//Neutral
$Grayish-Blue: hsl(233, 8%, 62%);
$Light-Grayish-Blue: hsl(220, 16%, 96%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

// font size
$h1-size-mobile: 1.875rem; //30px
$h1-size-Desktop: 2.625rem; //42px

$menu-links-size: 1rem;

$h2-size-mobile: 1.5rem; //24px
$h2-size-desktop: 2rem; //32px 

$h4-size-desktop: 1.5625rem; //25px
$h4-size-mobile: 1rem;


$p-size-mobile: 0.875rem; //14px
$p-size-desktop: 1rem;

$font-wieght-small: 300;
$font-wieght-medium: 400;
$font-wieght-large: 700;